<a href="https://colab.research.google.com/github/grbarbosa3/DataAnalysis_IMDb/blob/main/IMDb_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDb Analysis

### Libraries

In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
pd.set_option('display.max_rows', None)

### Impoting data

In [ ]:
movies_df = pd.read_csv("/content/movie_metadata.csv")

In [ ]:
movies_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

### [Duration] Average lenght

In [ ]:
# Average values with two decimal places

print('Average value for "duration" column: %.2f' % movies_df['duration'].mean())

Average value for "duration" column: 107.20

### [Duration] Missing values and replacing with median

In [ ]:
#Looking for duration missing values entries

movies_df[(movies_df['duration'].isna() == True)]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0
199,Color,Matt Birch,1.0,NaN,0.0,159.0,Dave Legeno,10000.0,NaN,Action|Fantasy,...,2.0,English,UK,NaN,0.0$,2011.0,570.0,7.5,NaN,40
206,Color,Matt Birch,4.0,NaN,0.0,1000.0,Toby Jones,10000.0,NaN,Fantasy,...,2.0,English,UK,NaN,0.0$,2010.0,2000.0,6.4,NaN,25
1510,Color,Tony Kaye,NaN,NaN,194.0,816.0,Aisha Tyler,970.0,NaN,Crime|Drama,...,NaN,English,USA,NaN,23000000.0$,2009.0,856.0,7.2,NaN,26
3604,Color,NaN,10.0,NaN,NaN,502.0,Tuppence Middleton,1000.0,NaN,Drama|History|Romance|War,...,44.0,English,UK,TV-14,0.0$,NaN,888.0,8.2,16.00,11000
3815,Color,Marc Bennett,2.0,NaN,3.0,723.0,Natasha Henstridge,975.0,NaN,Comedy|Drama,...,2.0,English,USA,NaN,5000000.0$,2012.0,900.0,6.7,NaN,35
3834,Color,Shekar,1.0,NaN,0.0,0.0,Diganth,5.0,NaN,Comedy|Romance,...,1.0,Kannada,India,NaN,0.0$,2013.0,0.0,7.1,NaN,2
4299,Color,Kundan Shah,1.0,NaN,4.0,72.0,Bobby Deol,353.0,NaN,Action|Comedy|Romance|Thriller,...,1.0,Hindi,India,NaN,0.0$,2000.0,89.0,2.8,NaN,10
4392,Color,David M. Matthews,5.0,NaN,8.0,394.0,Lamman Rucker,713.0,2592808.0,Crime|Drama|Thriller,...,15.0,English,USA,R,0.0$,2010.0,607.0,3.5,2.35,588
4397,Color,Romesh Sharma,4.0,NaN,0.0,45.0,Revathy,421.0,129319.0,Romance,...,4.0,English,India,NaN,70000000.0$,2005.0,96.0,5.1,NaN,9
4517,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,0.0$,NaN,457.0,7.1,2.00,954
4609,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,Comedy|Family,...,15.0,Urdu,Pakistan,NaN,1000000.0$,2015.0,5.0,7.0,NaN,259
4690,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,Action|Adventure|Fantasy|Sci-Fi,...,11.0,English,USA,NaN,0.0$,2014.0,4000.0,8.1,NaN,1000
4948,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,Romance,...,NaN,English,USA,PG-13,125000.0$,2015.0,0.0,5.1,NaN,0
4989,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,Comedy|Drama,...,3.0,English,USA,NaN,0.0$,2006.0,36.0,4.7,NaN,2

In [ ]:
# Median value of duration

movies_df['duration'].median()

103.0

In [ ]:
# Number of missing values

movies_df['duration'].isna().sum()

15

In [ ]:
# Replacing missing values with median values

movies_df['duration'] = movies_df['duration'].fillna(movies_df['duration'].median())

In [ ]:
# Checking the missing values

movies_df['duration'].isna().sum()

0

### Movie Duration Category column creation

In [ ]:
# Separating the categories of movie duration

movies_df['movie_duration_category'] = ["< 90" if x < 90 else '90-120' if 90 <= x <= 120 else '> 120' for x in movies_df['duration']]

In [ ]:
movies_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000,> 120
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0,> 120
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000,> 120
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000,> 120
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0,90-120

### Year release summary table

In [ ]:
# Year summary table

movies_year_stb = movies_df

In [ ]:
# Separating the null values 

null_index = movies_year_stb[(movies_year_stb['title_year'].isna() == True)]

In [ ]:
null_index.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0,90-120
177,Color,NaN,21.0,60.0,NaN,184.0,Philip Michael Thomas,982.0,NaN,Action|Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,1500000.0$,NaN,321.0,7.5,1.33,0,< 90
260,Color,NaN,29.0,60.0,NaN,432.0,Dirk Benedict,669.0,NaN,Action|Adventure|Crime,...,English,USA,TV-PG,0.0$,NaN,554.0,7.6,4.00,0,< 90
279,NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,0.0$,NaN,NaN,7.2,NaN,0,< 90
404,Color,NaN,103.0,44.0,NaN,148.0,Scott Thompson,544.0,NaN,Crime|Drama|Horror|Mystery|Thriller,...,English,USA,TV-14,0.0$,NaN,183.0,8.6,1.78,59000,< 90

In [ ]:
# Dropping the null DataFrame

movies_year_stb.drop(null_index.index, axis=0,inplace=True)

In [ ]:
# Verifying the nulls

movies_year_stb['title_year'].isna().sum()

0

In [ ]:
# Separating the movies released after 2000

movies_2000_stb = movies_year_stb.query('title_year >= 2000')

In [ ]:
# Changing the column type

movies_2000_stb['title_year'] = movies_2000_stb['title_year'].astype(int)

In [ ]:
movies_2000_stb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0$,2009,936.0,7.9,1.78,33000,> 120
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0$,2007,5000.0,7.1,2.35,0,> 120
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0$,2015,393.0,6.8,2.35,85000,> 120
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0$,2012,23000.0,8.5,2.35,164000,> 120
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,English,USA,PG-13,263700000.0$,2012,632.0,6.6,2.35,24000,> 120

In [ ]:
# Summary table

duration_year = movies_2000_stb.groupby('title_year')['movie_duration_category'].value_counts()

In [ ]:
duration_year

title_year  movie_duration_category
2000        90-120                     112
            > 120                       34
            < 90                        25
2001        90-120                     120
            > 120                       39
            < 90                        29
2002        90-120                     146
            < 90                        36
            > 120                       27
2003        90-120                     108
            < 90                        31
            > 120                       30
2004        90-120                     142
            > 120                       42
            < 90                        30
2005        90-120                     142
            > 120                       48
            < 90                        31
2006        90-120                     146
            > 120                       53
            < 90                        40
2007        90-120                     130
            > 120                       43
            < 90                        31
2008        90-120                     160
            > 120                       36
            < 90                        29
2009        90-120                     178
            < 90                        42
            > 120                       40
2010        90-120                     171
            > 120                       33
            < 90                        26
2011        90-120                     150
            > 120                       39
            < 90                        36
2012        90-120                     139
            < 90                        41
            > 120                       41
2013        90-120                     145
            > 120                       54
            < 90                        38
2014        90-120                     171
            > 120                       45
            < 90                        36
2015        90-120                     145
            > 120                       47
            < 90                        34
2016        90-120                      79
            > 120                       19
            < 90                         8
Name: movie_duration_category, dtype: int64

### Plot category

In [ ]:
# Changing the column to string

movies_df_cat = movies_df.astype({'plot_keywords':'string'})

In [ ]:
movies_df_cat = movies_df_cat.dropna(subset = ['plot_keywords'])

In [ ]:
# Separating the plot category

movie_plot_category = []

for word in movies_df_cat['plot_keywords']:

  if 'love' in word and 'death' in word:
    movie_plot_category.append('love_and_death')
  elif 'love' in word:
    movie_plot_category.append('love')
  elif 'death' in word:
    movie_plot_category.append('death')
  else:
    movie_plot_category.append('other')

In [ ]:
# Creating tje plot category column

movies_df_cat['movie_plot_category'] = movie_plot_category

In [ ]:
movies_df_cat['movie_plot_category'].value_counts()

other             4383
love               230
death              166
love_and_death      16
Name: movie_plot_category, dtype: int64

In [ ]:
movies_df_cat.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category,movie_plot_category
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000,> 120,other
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0,> 120,other
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000,> 120,other
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000,> 120,other
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,USA,PG-13,263700000.0$,2012.0,632.0,6.6,2.35,24000,> 120,other

In [ ]:
# Verifying the mean score of each category

category_score = movies_df_cat.groupby('movie_plot_category')['imdb_score'].mean()

In [ ]:
category_score

movie_plot_category
death             6.488554
love              6.580870
love_and_death    6.506250
other             6.420716
Name: imdb_score, dtype: float64

In [ ]:
# Score for love category

love_score = category_score.iloc[1]

In [ ]:
print('Average value for "love" category: %.2f' % love_score)

Average value for "love" category: 6.58

### Budget

In [ ]:
# Changing the column to string

movies_df = movies_df.astype({'budget':'string'})

In [ ]:
# Removing the non numerical string

movies_df['budget'] = movies_df['budget'].str.replace('$', '')

In [ ]:
# Transforming the column to int

movies_df['budget'] = movies_df['budget'].apply(lambda x: int(float(x)))

In [ ]:
print('Median value for "budget" column:', movies_df['budget'].median())

Median value for "budget" column: 16000000.0